@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

/* 공통 */
.v-bar {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #ccc;
  z-index: 2;
  margin-left: -1px;
}

.fix_scroll {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2;
  transform: rotate(-90deg);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  color: #fff;
}

/* 해더 */
.header h2 {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.header h2 a {
  background: url(../img/common/logo_01.png) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 45px;
  height: 50px;
  text-indent: -9999px;
  display: inline-block;
}

.header .right_menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
  cursor: pointer;
}

.header .right_menu .btn_box {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.header .right_menu .btn_box .line {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}

.header .right_menu .btn_box .line:nth-child(1) {
  top: 0px;
  left: 0px;
}

.header .right_menu .btn_box .line:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.header .right_menu .btn_box .line:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.header .right_menu:hover .line:nth-child(1) {
  transform: scaleX(0.8);
}

.header .right_menu:hover .line:nth-child(2) {
  transform: scaleX(0.5);
}

.header .right_menu:hover .line:nth-child(3) {
  transform: scaleX(0.8);
}

.header .right_menu.on .line:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.header .right_menu.on .line:nth-child(2) {
  opacity: 0;
}

.header .right_menu.on .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

/* 사이드 메뉴 */
.header .side_menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.header .menu_section {
  position: absolute;
  display: table;
  top: 0;
  right: -100%;
  width: 45%;
  height: 100vh;
  color: #000;
  background: #f1f1f1;
  padding: 0 4%;
  box-sizing: border-box;
}

.header .menu_section .gnb {
  margin-top: 100px;
}

.header .menu_section .gnb ul > li {
  font-size: 54px;
  line-height: 1.8;
}

.header .menu_section .gnb ul > li a {
  color: #000;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  -webkit-transition: all 0.5s;
}

.header .menu_section .gnb ul > li a:hover {
  color: rgba(254, 202, 21, 1);
}

.header .menu_section .gnb ul .txt {
  margin-top: 50px;
}

.header .menu_section .gnb ul .txt a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.header .menu_section .gnb ul .txt a:hover {
  color: #3e87f8;
}

.header .menu_section .gnb ul .txt p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main_vis {
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.main_vis .swiper-pagination {
  left: 10px;
  right: auto;
}

.main_vis .swiper-pagination-bullet {
  opacity: 1;
  background: none;
  background: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.main_vis .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff000;
  height: 40px;
  width: 10px;
  box-sizing: border-box;
}

/* 메인 */
.itme01 .main_wrap .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/back.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.itme01 .main_wrap .txt_box {
  position: relative;
  z-index: 3;
}

.itme01 .main_wrap .txt_box .t_toyp1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: -2px;
}

.itme01 .main_wrap .txt_box .sub_txt {
  position: relative;
  width: 1px;
  margin: 0 auto;
  height: 110px;
}

.itme01 .main_wrap .txt_box .sub_txt::before {
  content: '';
  left: -9px;
  width: 18px;
  height: 110px;
  position: absolute;
  top: 0;
  background-color: #fff000;
}

.itme01 .main_wrap .txt_box .sub_txt .t_toyp2 {
  font-size: 30px;
  line-height: 34px;
  position: absolute;
  top: 50%;
  transform: translate(0, -60%);
  font-weight: 500;
  white-space: nowrap;
  text-align: left;
  bottom: 0;
  color: #fff;
}

/* PC */
.itme02 .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/mega.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.itme02 .bg_con {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.itme02 .Desk_wrap {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.itme02 .Desk_wrap .txt_box {
  position: relative;
}

.itme02 .Desk_wrap .txt_box::before {
  content: '';
  left: -19px;
  width: 40px;
  height: 230px;
  position: absolute;
  top: 80px;
  background-color: #fff000;
}

.itme02 .Desk_wrap .txt_box .title {
  height: 220px;
  text-align: left;
  padding-top: 100px;
  position: relative;
  color: #fff;
}

.itme02 .Desk_wrap .txt_box .title p.number {
  font-size: 90px;
  line-height: 0.9;
}

.itme02 .Desk_wrap .txt_box .title p.tit {
  font-size: 100px;
  line-height: 0.9;
  font-weight: bold;
}

.itme02 .Desk_wrap .desc span {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1px;
  position: relative;
  color: #fff;
}

.itme02 .Desk_wrap .desc span strong {
  font-size: 50px;
}

.itme02 .Desk_wrap .desc span::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}

.itme02 .Desk_wrap .desc p {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.itme02 button {
  position: relative;
  left: 66px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

.itme02 button.btn_more {
  width: 180px;
  height: auto;
}

.itme02 button.btn_more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 30px;
}

.itme02 button.btn_more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}

.itme02 button.btn_more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 10px;
  width: 18px;
  height: 2px;
  background: none;
}

.itme02 button.btn_more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.itme02 button.btn_more .btn_text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  margin-left: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.itme02 button:hover .circle {
  width: 100%;
}

.itme02 button:hover .circle .icon.arrow {
  background: #000;
  -webkit-transform: translate(15px, 0);
  transform: translate(15px, 0);
}

.itme02 button:hover .btn_text {
  color: #000;
}

/* 모바일 */
.itme03 .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/mozzi.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.itme03 .bg_con {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.itme03 .mobile_wrap {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.itme03 .mobile_wrap .txt_box {
  position: relative;
}

.itme03 .mobile_wrap .txt_box::before {
  content: '';
  left: -19px;
  width: 40px;
  height: 230px;
  position: absolute;
  top: 80px;
  background-color: #fff000;
}

.itme03 .mobile_wrap .txt_box .title {
  height: 220px;
  text-align: left;
  padding-top: 100px;
  position: relative;
  color: #fff;
}

.itme03 .mobile_wrap .txt_box .title p.number {
  font-size: 90px;
  line-height: 0.9;
}

.itme03 .mobile_wrap .txt_box .title p.tit {
  font-size: 100px;
  line-height: 0.9;
  font-weight: bold;
}

.itme03 .mobile_wrap .desc span {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1px;
  position: relative;
  color: #fff;
}

.itme03 .mobile_wrap .desc span strong {
  font-size: 50px;
}

.itme03 .mobile_wrap .desc span::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}

.itme03 .mobile_wrap .desc p {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.itme03 button {
  position: relative;
  left: 66px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

.itme03 button.btn_more {
  width: 180px;
  height: auto;
}

.itme03 button.btn_more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 30px;
}

.itme03 button.btn_more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}

.itme03 button.btn_more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 10px;
  width: 18px;
  height: 2px;
  background: none;
}

.itme03 button.btn_more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.itme03 button.btn_more .btn_text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  margin-left: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.itme03 button:hover .circle {
  width: 100%;
}

.itme03 button:hover .circle .icon.arrow {
  background: #000;
  -webkit-transform: translate(15px, 0);
  transform: translate(15px, 0);
}

.itme03 button:hover .btn_text {
  color: #000;
}

/* 반응형 */
.itme04 .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hollys.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.itme04 .bg_con {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.itme04 .Resp_wrap {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.itme04 .Resp_wrap .txt_box {
  position: relative;
}

.itme04 .Resp_wrap .txt_box::before {
  content: '';
  left: -19px;
  width: 40px;
  height: 230px;
  position: absolute;
  top: 80px;
  background-color: #fff000;
}

.itme04 .Resp_wrap .txt_box .title {
  height: 220px;
  text-align: left;
  padding-top: 100px;
  position: relative;
  color: #fff;
}

.itme04 .Resp_wrap .txt_box .title p.number {
  font-size: 90px;
  line-height: 0.9;
}

.itme04 .Resp_wrap .txt_box .title p.tit {
  font-size: 100px;
  line-height: 0.9;
  font-weight: bold;
}

.itme04 .Resp_wrap .desc span {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1px;
  position: relative;
  color: #fff;
}

.itme04 .Resp_wrap .desc span strong {
  font-size: 50px;
}

.itme04 .Resp_wrap .desc span::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}

.itme04 .Resp_wrap .desc p {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.itme04 button {
  position: relative;
  left: 66px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

.itme04 button.btn_more {
  width: 180px;
  height: auto;
}

.itme04 button.btn_more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 30px;
}

.itme04 button.btn_more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}

.itme04 button.btn_more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 10px;
  width: 18px;
  height: 2px;
  background: none;
}

.itme04 button.btn_more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.itme04 button.btn_more .btn_text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  margin-left: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.itme04 button:hover .circle {
  width: 100%;
}

.itme04 button:hover .circle .icon.arrow {
  background: #000;
  -webkit-transform: translate(15px, 0);
  transform: translate(15px, 0);
}

.itme04 button:hover .btn_text {
  color: #000;
}

/* CONTACT */
.itme05 .contact_wrap {
  width: 100%;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}

.itme05 .contact_inner {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 200px;
}

.itme05 .contact_title {
  display: block;
  margin-bottom: 70px;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.015rem;
  font-weight: 400;
  color: #fff;
}

.itme05 .contact_title i {
  font-weight: 400;
  font-size: 20px;
  padding-right: 14px;
}

.itme05 .contact_info {
  display: inline-block;
  position: relative;
}

.itme05 .contact_mail {
  display: block;
  text-align: center;
  font-size: 82px;
  font-weight: 500;
  transition: all 0.3s;
  color: #fff;
}

.itme05 .contact_mail:hover {
  color: #fff000;
  transform: scale(0.95);
}

.itme05 .contact_text {
  user-select: none;
  margin-top: 26px;
  text-align: center;
  font-size: 16px;
  line-height: 170%;
  font-weight: 300;
  color: #fff;
}

.itme05 .contact_mail:hover + .contact_text {
  -webkit-animation: ball 1.8s 0.2s;
  animation: ball 1.8s 0.2s;
}

@-webkit-keyframes ball {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate3d(0, 0, 0);
  }

  12% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transform: translate3d(0, -18px, 0);
  }

  24% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transform: translate3d(0, 0, 0);
  }

  33% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transform: translate3d(0, -10px, 0);
  }

  42% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ball {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate3d(0, 0, 0);
  }

  12% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transform: translate3d(0, -18px, 0);
  }

  24% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transform: translate3d(0, 0, 0);
  }

  33% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transform: translate3d(0, -10px, 0);
  }

  42% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: translate3d(0, 0, 0);
  }
}

.itme05 .contact_footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
